USE [master]
GO
/****** Object:  Database [QLKS_TTN]    Script Date: 24/5/2019 2:05:41 PM ******/
CREATE DATABASE [QLKS_TTN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLKS_TTN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.CHAMVU\MSSQL\DATA\QLKS_TTN.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLKS_TTN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.CHAMVU\MSSQL\DATA\QLKS_TTN_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKS_TTN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKS_TTN]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [int] NOT NULL,
	[TENDV] [nvarchar](100) NULL,
	[GIATIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] NOT NULL,
	[MATHUEPHONG] [int] NULL,
	[MANV] [int] NULL,
	[MAKH] [int] NULL,
	[THANHTIEN] [int] NULL,
	[GHICHU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] NOT NULL,
	[TENKH] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[CMT] [int] NULL,
	[SDT] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALOAI] [int] NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](50) NULL,
	[GIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [int] NOT NULL,
	[TENPHONG] [nvarchar](50) NULL,
	[MALOAI] [int] NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUDUNGDV]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUDUNGDV](
	[MASD] [int] NOT NULL,
	[MATHUEPHONG] [int] NULL,
	[MADV] [int] NULL,
	[NGAYSD] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[USERNAME] [nchar](40) NOT NULL,
	[MATKHAU] [nchar](40) NULL,
	[MANV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THUEPHONG]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUEPHONG](
	[MATHUEPHONG] [int] NOT NULL,
	[MAKH] [int] NULL,
	[MAPHONG] [int] NULL,
	[NGAYVAO] [date] NULL,
	[NGAYRA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHUEPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MATHUEPHONG])
REFERENCES [dbo].[THUEPHONG] ([MATHUEPHONG])
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAIPHONG] ([MALOAI])
GO
ALTER TABLE [dbo].[SUDUNGDV]  WITH CHECK ADD FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[SUDUNGDV]  WITH CHECK ADD FOREIGN KEY([MATHUEPHONG])
REFERENCES [dbo].[THUEPHONG] ([MATHUEPHONG])
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[THUEPHONG]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[THUEPHONG]  WITH CHECK ADD FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
/****** Object:  StoredProcedure [dbo].[SP_DichVu_Delete]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_DichVu_Delete]
	@maDichVu int
as
begin
	delete DICHVU
	where MADV = @maDichVu
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DichVu_GetAll]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_DichVu_GetAll]
as
begin
	select * from DICHVU
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DichVu_Insert]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_DichVu_Insert]
    @Madv INT ,
	@tenDichVu nvarchar(100),
	@giaTien int
as
begin
	insert into DICHVU(MADV,TENDV, GIATIEN)
	values(@Madv,@tenDichVu, @giaTien)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DichVu_Search]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_DichVu_Search]
	@searchValue nvarchar(50)
as
begin
	select * from DICHVU
	where (MADV like N'%'+ @searchValue +'%')
		  or (TENDV like N'%'+ @searchValue +'%')
		  or (GIATIEN like N'%'+ @searchValue +'%')
end
GO
/****** Object:  StoredProcedure [dbo].[SP_DichVu_Update]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_DichVu_Update]
	@maDichVu int, @tenDichVu nvarchar(100), @giaDichVu int
as
begin
	update DICHVU
	set TENDV = @tenDichVu, GIATIEN = @giaDichVu
	where MADV = @maDichVu
end
GO
/****** Object:  StoredProcedure [dbo].[SP_LOAIPHONG_DELETE]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOAIPHONG_DELETE] @MALOAI INT
AS
	BEGIN
	DELETE FROM dbo.LOAIPHONG
	WHERE MALOAI = @MALOAI
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_LOAIPHONG_GETALL]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOAIPHONG_GETALL]
AS
	BEGIN
	SELECT MALoai, TENLOAI, GHICHU,GIA
	FROM dbo.LOAIPHONG
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_LOAIPHONG_INSERT]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOAIPHONG_INSERT] @MALOAI INT , @TENLOAI NVARCHAR(50), @GHICHU NVARCHAR(50),@GIA INT 
AS
	BEGIN
		INSERT INTO dbo.LOAIPH
		        ( MALOAI,TENLOAI, GHICHU ,GIA)
		VALUES  ( @MALOAI,@TENLOAI, -- TENLOAI - nvarchar(50)
		          @GHICHU ,@GIA -- GHICHU - nvarchar(50)
		          )
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_LOAIPHONG_TIMKIEM]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOAIPHONG_TIMKIEM] @SEARCHVALUE NVARCHAR(100)
AS
	BEGIN
		SELECT MALOAI, TENLOAI, GHICHU,GIA
		FROM dbo.LOAIPHONG
		WHERE (dbo.LOAIPHONG.MALOAI LIKE N'%' + @SEARCHVALUE +'%')
		OR (dbo.LOAIPHONG.TENLOAI LIKE N'%' + @SEARCHVALUE + '%')
		OR (dbo.LOAIPHONG.GHICHU LIKE N'%' + @SEARCHVALUE + '%')
		OR (dbo.LOAIPHONG.GIA LIKE N'%' + @SEARCHVALUE + '%')

	END
GO
/****** Object:  StoredProcedure [dbo].[SP_LOAIPHONG_UPDATE]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOAIPHONG_UPDATE] @MALOAI INT, @TENLOAI NVARCHAR(50), @GHICHU NVARCHAR(50),@GIA INT 
AS
	BEGIN
		UPDATE dbo.LOAIPHONG
		SET TENLOAI=@TENLOAI, GHICHU=@GHICHU,GIA=@GIA
		WHERE MALOAI = @MALOAI
	END
GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteKhachHang]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DeleteKhachHang]
	@makh INT
AS
BEGIN
	
	DELETE FROM dbo.KHACHHANG WHERE MAKH=@makh
END
GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteNV]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DeleteNV]
     @manv INT
AS
BEGIN
	DELETE dbo.NHANVIEN WHERE MANV=@manv
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAllNV]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_GetAllNV]
as begin 
select *from NHANVIEN
end
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAllRooms]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_GetAllRooms]

as
 begin 
 select *from PHONG 
 end

GO
/****** Object:  StoredProcedure [dbo].[USP_GetallTaiKhoan]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_GetallTaiKhoan]
 @Username nchar(40)
 as
 begin 
 select * from TAIKHOAN where USERNAME=@Username
 end
GO
/****** Object:  StoredProcedure [dbo].[USP_GetDSNV]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetDSNV] AS SELECT NHANVIEN.MANV,HOTEN,NGAYSINH,GIOITINH,DIACHI,SDT FROM dbo.NHANVIEN
GO
/****** Object:  StoredProcedure [dbo].[USP_GetListKhachHang]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetListKhachHang]
AS SELECT * FROM dbo.KHACHHANG
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertKhachHang]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertKhachHang]
    @makh INT,
	@tenkh NVARCHAR(100),
	@diachi NVARCHAR (100),
	@CMT INT ,
	@sdt CHAR(10)
	AS
	BEGIN
		INSERT KHACHHANG
		        ( MAKH,TENKH, DIACHI,cmt, SDT )
		VALUES  ( @makh,@tenkh, -- TENKH - nvarchar(100)
		          @diachi, -- DIACHI - nvarchar(100)
				  @CMT,
		          @sdt  -- SDT - char(10)
		          )
	END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertNV]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----INSERT-----------
CREATE PROC [dbo].[USP_InsertNV]
    @manv int ,
	@hoten NVARCHAR(50),
	@ngsinh DATE,
	@gioitinh NVARCHAR(50),
	@diachi NVARCHAR(100),
	@sdt CHAR(10)
	
	
AS
BEGIN
	INSERT dbo.NHANVIEN
	        ( MANV,HOTEN ,
	          NGAYSINH ,
	          GIOITINH ,
			  DIACHI ,
	          SDT 
	          
	        )
	VALUES  (@manv, @hoten , 
	          @ngsinh , 
	          @diachi , 
	          @gioitinh , 
	          @sdt ) 
	          
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SearchKhachHang]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_SearchKhachHang]
@search NVARCHAR(100)
AS
BEGIN
	SELECT * FROM dbo.KHACHHANG WHERE
	MAKH LIKE N'%' + @search + '%' OR TENKH LIKE N'%' + @search + '%' OR SDT LIKE N'%' + @search + '%' OR 
	DIACHI LIKE N'%' + @search + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SearchNV]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_SearchNV]
    @search NVARCHAR(50)
AS
BEGIN
	SELECT NHANVIEN.MANV,HOTEN,NGAYSINH,GIOITINH,DIACHI,SDT FROM dbo.NHANVIEN, dbo.HOADON 
	WHERE (NHANVIEN.MANV = HOADON.MANV) 
	    AND  ((HOADON.MANV LIKE N'%' + @search + '%')
	    OR (HOTEN LIKE  N'%' + @search + '%' )
	    OR (NGAYSINH LIKE  N'%' + @search + '%')
	    OR (GIOITINH LIKE  N'%' + @search + '%')
		OR (DIACHI LIKE  N'%' + @search + '%') 
	    OR (SDT LIKE  N'%' + @search + '%') 
	    )
END 
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateKhachHang]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UpdateKhachHang]
	@makh INT,
	@tenkh NVARCHAR(100),
	@diachi NVARCHAR (100),
	@cmt INT,
	@sdt CHAR(10)
AS
BEGIN
	UPDATE dbo.KHACHHANG SET TENKH=@tenkh , DIACHI = @diachi ,CMT=@cmt, SDT = @sdt WHERE MAKH=@makh
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateNV]    Script Date: 24/5/2019 2:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UpdateNV]
	@manv INT,
	@hoten NVARCHAR(50),
	@ngsinh DATE,
	@gioitinh NVARCHAR(50),
	@diachi NVARCHAR(100),
	@sdt CHAR(10)
AS
BEGIN
	UPDATE dbo.NHANVIEN 
	SET HOTEN=@hoten,NGAYSINH=@ngsinh,GIOITINH=@gioitinh,DIACHI=@diachi,SDT=@sdt
	WHERE MANV=@manv
END
GO
USE [master]
GO
